@import "variables";

// Colors
/*.brand-primary-color {
	color: $brand-primary;
}

.brand-secondary-color {
	color: $brand-secondary;
}


// Background color
.brand-primary-bg {
	background-color: $brand-primary;
}

.brand-secondary-bg {
	background-color: $brand-secondary;
}*/
