<!DOCTYPE html>
<html lang="en"> <!-- dir="rtl" -->
<head>
  <!-- Site Title -->
  <title>@@if(context.titlePage){@@titlePage}@@if(!context.titlePage){Title}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="">
  <link rel="apple-touch-icon-precomposed" href="">
  <meta name="theme-color" content="#2775FF">
  <meta name="keywords" content="themeforest, theme, html, template"/>
  <meta name="description" content="themeforest, theme, html, template"/>

  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

<!-- The Main Wrapper -->
<main class="main-wrapper">
